.contactus {
    background-color: #f4f4f4;
    padding-bottom: 80px;
}

.contactus .black {
    margin-bottom: 0px;
}

.contact-container {
    padding: 0px 5%;
}

.contact-input-icons {
    display: flex;

    margin-top: 40px;
}

.contact-input-icons h2 {
    font-size: 20px;
    font-weight: 300;
    color: rgba(119, 119, 119);
}

.contact-input-icons h2 span {
    font-weight: 700;
}

.form-contact {
    display: flex;
    width: 100%;

}

.contact-info {
    width: 100%;
}

.contact-info div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.textarea-contact {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 100%;
}

.form-contact label {
    color: rgba(119, 119, 119);
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
}

.form-contact button {
    background-color: #111111;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 15px;
    text-transform: uppercase;
}

.contact-input {
    width: 70%;
}

.contact-form-group {
    width: 100%;
}

.form-contact label span {
    color: red;
}

.form-contact input {
    width: 100%;
    padding: 8px;
    border: 1px solid #e7e7e7;
}

.form-contact input:focus {
    outline: none;
}



.textarea-contact textarea {
    width: 90% !important;
    padding: 8px;
    height: 75%;
    border: none;
    border: 1px solid #e7e7e7;
}

.textarea-contact textarea:focus {
    outline: none;
}

.contact-icons {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.contact-icon-row {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
}

.contact-icon-row p {
    font-size: 14px;
    color: rgba(119, 119, 119);
}

.contact-icon {
    padding: 15px;
    font-size: 45px;
    background-color: #111111;
    color: #f4f4f4;
    border-radius: 6px;
    margin-right: 30px;
}

.form-contact .none {
    display: none;
}

@media only screen and (max-width: 770px) {
    .contact-input-icons {
        flex-direction: column;
    }

    .form-contact {
        flex-direction: column;
    }

    .resp-btn {
        display: none;
    }

    .form-contact .none {
        display: block;
    }

    .textarea-contact textarea {
        width: 80% !important;
        padding: 8px;
        height: 30vh;
        border: none;
        border: 1px solid #e7e7e7;
    }

    .textarea-contact {
        margin-left: 0px;
    }

    .contact-input {
        width: 100%;

    }

    .contact-input input {
        width: 80%;
    }

    .contact-icons {
        margin-left: 0px;
        margin-top: 30px;
    }

    .form-contact button {
        width: 80%;
        margin-top: 20px;
    }

}

@media only screen and (max-width: 570px) {
    .contact-input-icons {
        flex-direction: column;
    }



    .resp-btn {
        display: none;
    }

    .form-contact .none {
        display: block;
    }

    .contact-input {
        width: 100%;
    }

    .textarea-contact {
        margin-left: 0px;
    }

    .textarea-contact textarea {
        width: 80% !important;
        padding: 8px;
        height: 30vh;
        border: none;
        border: 1px solid #e7e7e7;
    }

    .contact-icons {
        margin-left: 0px;
        margin-top: 30px;
    }
}