.reset-pass-page {
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;

}

.reset-pass {
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    padding: 100px 30px;
}

.new-password-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.reset-bg {
    width: 30%;
    background-color: #000232;
    ;
    box-shadow: 0.5px 0.5px 30px cyan;
    border-radius: 10px;
}

.new-password-form-group label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: cyan;
}

.new-password-form-group span {
    color: red;
}

.new-password-form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    color: white;
    background-color: transparent;
    margin-bottom: 20px;
    transition: 1s;
}

.new-password-form-group input:focus {
    outline: none;
    border: 1px solid cyan;
}

.reset-pass button {
    position: relative;
    background: #444;
    color: #fff;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    margin-top: 30px;
    padding: 10px;
    transition: 0.2s;
}

.reset-pass button:hover {
    letter-spacing: 0.2rem;
    padding: 12px;
    background: cyan;
    color: cyan;
    box-shadow: 0 0 35px cyan;
    animation: box 3s infinite;
}

.reset-pass button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
}

.reset-pass button span {
    position: relative;
    z-index: 1;
}

.reset-pass button i {
    position: absolute;
    inset: 0;
    display: block;
}

.reset-pass button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid cyan;
    background: #272822;
    transition: 0.2s;
}

.reset-pass button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
}

.reset-pass button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid cyan;
    background: #272822;
    transition: 0.2s;
}

.reset-pass button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes box {
    0% {
        box-shadow: #27272c;
    }

    50% {
        box-shadow: 0 0 25px cyan;
    }

    100% {
        box-shadow: #27272c;
    }
}

.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.icon-success {
    font-size: 90px;
    color: cyan;
}

.success p {
    font-size: 30px;
    font-weight: 600;
    color: white;

}