.reset-pass-page {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.reset-pass {
    display: flex;
    min-height: 60vh;
    flex-direction: column;
}

.new-password-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.new-password-form-group label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgba(119, 119, 119);
}

.new-password-form-group span {
    color: red;
}

.new-password-form-group input {
    width: 400px;
    border: 1px solid #e7e7e7;
    padding: 7px;
}

.new-password-form-group input:focus {
    outline: none;
}

.reset-pass button {
    background-color: #111111;
    color: #f4f4f4;
    padding: 7px;
}

.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.icon-success {
    font-size: 90px;
    color: green;
}

.success p {
    font-size: 30px;
    font-weight: 600;

}