.btn-user {
    text-decoration: none;
}

.table-users {
    width: 100% !important;
}

.users-tables {
    width: 100%;
    padding: 5%;
    margin-top: 2%;
}

.titlee {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlee a {
    background: linear-gradient(72deg, rgb(44, 222, 242) 0.00%, rgb(156, 43, 171) 35.00%, rgb(39, 43, 44) 100.00%);
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}



.select-admin:focus {
    outline: none;
}