.admin-products {
    display: flex;
    flex-direction: column;

    padding-left: 20px;
    margin-top: 10px;
    width: 100%;
}

.tablee {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.admin-link1 {
    background: #212122;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.admin-add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 10%;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
}

.admin-card {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.admin-card-img {
    width: 150px !important;

}

.admin-card a {
    text-decoration: none;
    color: black;
}

.admin-reviews {
    display: flex;
    padding: 50px;
    margin: 5% 10%;
    background-color: #e5e1ff;
    flex-direction: row;
    justify-content: space-between;
}

.admin-reviews img {
    width: 200px;
}

.admin-reviews-img div {
    /* display: flex;
    justify-content: space-between; */
    width: 100%;
    text-align: start;

}

.admin-reviews-img div p {
    font-weight: 600;
    font-size: 20px;
}

.admin-reviews-img div div {
    display: flex;
    font-size: 20px;

    font-weight: 600;
}

.admin-reviews-img div div p {
    font-weight: 400;
    margin-left: 10px;
    width: 50px;

}


.admin-reviews button {
    background-color: #212122;
    padding: 2px 8px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}

.admin-reviews-img div span {
    font-weight: 400;
}

.admin-review-scroll {
    height: 500px;
    overflow-y: auto;
}