.admin-products {
    display: flex;
    flex-direction: column;

    padding-left: 5%;
    margin-top: 10px;
    width: 100%;
}

.tablee {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.admin-link1 {
    background: #212122;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.admin-add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 56px;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 15%;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
}

.admin-card {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.admin-card-img {
    width: 150px !important;

}

.admin-card a {
    text-decoration: none;
    color: black;
}