.user-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-accordion {
    width: 13%;
}

.user-profile {
    padding: 0px 7% 5% 7%;
}

.user-info-admin {
    display: flex;
    width: 100%;
    margin-top: 5%;
    justify-content: space-between;
}

.userr-infoo {
    width: 70%;
}

.userr-infoo .user-info-name {
    display: flex;
}

.userr-infoo h5 {
    background-color: #e7e7e7;
    width: 40%;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 50px;
}

.userr-infoo h5 span {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.4px;
    margin-left: 20px;
}

.info-btns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

.info-btns button {
    background-color: #f4f4f4;
    color: #111111;
    border: none;
    padding: 8px 16px !important;
    border-radius: 10px;
    transition: 1s;
    padding: 0px;

}

.info-btns button:hover {
    background-color: #111111;
    color: #f4f4f4;
}

.email-password-info {
    display: flex;
}

.user-product-img img {
    width: 150px;
}

.user-wishlist {
    width: 80%;
}