.operations {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
}

.check-customer {
    color: green;
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.cancel-customer {
    color: red;
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

.customer-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    height: 80vh;
}

.customer-form .customer-form-group {
    display: flex;
}

.customer-form input {
    padding: 10px;
    width: 80%;
    border: none;
    border: 1px solid #e7e7e7;
    margin: 10px;
    width: 400px;
}

.customer-form input:focus {
    outline: none;

}

.gender-customer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gender-customer input {
    width: 20px;
}

.row-customers {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer-form button {
    background-color: #212122;
    color: white;
    margin-top: 20px;
    font-weight: 700;
    padding: 8px 20px;
}

.customer-form textarea {
    padding: 10px;
    width: 400px;
    height: 400px;
    margin-top: 6%;
    border: 1px solid #e7e7e7;
}

.customer-form textarea:focus {
    outline: none;
}