.footer {
    background-color: #111111;
}

.subscribe-line {
    padding: 3% 5%;
    color: #f4f4f4;
}

.subscribe {
    padding: 5% 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subscribe h3 {
    font-size: 16px;
    font-weight: 600;
}

.subscribe p {
    font-size: 13px;
    font-weight: 400;
    color: rgba(119, 119, 119);
}

.subscribe input {
    width: 400px;
    padding: 15px 20px;
}

.subscribe button {
    background-color: #222529;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    color: #f4f4f4;
    border: none;
    padding: 18px 30px;
}

.footer-icon {
    font-size: 40px;
    margin-left: 20px;
    color: #222529;
    padding: 6px;
    border-radius: 50%;
    background-color: #b3b0b3;
    transition: 1s;
}

.facebook:hover {
    color: #f4f4f4;
    background-color: #37538d;
}

.github:hover {
    background-color: #f4f4f4;
    color: #111111;
}

.linkedin:hover {
    background-color: #0A66c2;
    color: #f4f4f4;
}

.porto-footer {
    color: #f4f4f4;
    display: flex;
    padding: 3% 5%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.porto-footer img {
    width: 120px;
}

.footer-logo p {
    font-size: 13px;
    color: rgba(119, 119, 119);
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-logo h1 {
    font-size: 13px;
    font-weight: 600;
}

.footer-logo span {
    font-size: 22px;
    font-weight: 700;
}

.footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
}

.footer-list ul {
    list-style-type: none;
    margin-right: 30px;

}

.footer-list h1 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;

}

.footer-list li {
    color: rgba(119, 119, 119);
    font-size: 13px;
    cursor: pointer;
}

.footer-list li:hover {
    color: #f4f4f4;
}

.account {
    display: flex;
    align-items: flex-start;

}

.about {
    display: flex;
    align-items: flex-start;
}

.footer-featured {
    text-align: end;
}

.footer-featured h1 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}



.footer-featured li {
    color: rgba(119, 119, 119);
    font-size: 13px;
    list-style-type: none;
}

.footer-featured li:hover {
    color: #f4f4f4;
}

.copy-right {
    color: #f4f4f4;
    text-align: center;
    padding: 2% 0px;
    font-size: 13px;
    color: rgba(119, 119, 119);
}