.view-cart {
    background-color: #f4f4f4;
    padding-bottom: 100px;

}

.view-cart-title {
    padding: 2% 4%;
}

.tbl-header {
    font-weight: 600 !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
}

.table-view {
    width: 100%;
}

.table-view img {
    width: 100px;

}

.table-view h5 {
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
}

.view-name {
    display: flex !important;
    align-items: center;
}

.view-price {
    color: rgba(105, 105, 107) !important;
    font-size: 14px;
}

.view-count input {
    border: 1px solid #e7e7e7;

    text-align: center;
    font-weight: 700;
    padding: 9px;
    width: 30px;
}

.view-count button {
    border: 1px solid #e7e7e7;

    background-color: #f4f4f4;
    padding: 9px;
}

.view-count input:focus {
    outline: none;
}

.view-total {
    font-size: 20px !important;
    font-weight: 600 !important;
    position: relative !important;
}

.cross-view {
    position: absolute;
    right: 10%;
    top: 10%;
    opacity: 0;
    transition: 1s;
    cursor: pointer;
}

.row-view:hover .cross-view {
    opacity: 1;
}

.view-cart-section {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.view-table {
    width: 60%;
}

.discount-update {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.discount-update button {
    padding: 9px;
    background-color: #f4f4f4;
    color: rgb(34, 37, 41);
    font-size: 13px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: 1s;
}

.discount-update button:hover {
    background-color: rgb(34, 37, 41);
    color: #f4f4f4;
}

.discount-update input {
    padding: 9px;
    border: 1px solid #e7e7e7;
    width: 250px;
    margin-right: 20px;
}

.discount-update input:focus {
    outline: none;
}

.view-summary {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    background-color: white;
    padding: 40px;
}

.view-summary h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.view-summary div {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(105, 105, 107);
    font-weight: 700;
    font-size: 14px;
    justify-content: space-between;
}

.summary-order {
    margin-top: 20px;

}

.summary-order p {
    font-size: 20px;
    color: #111111;
}

.view-summary button {
    margin-top: 20px;
    padding: 8px;
    background-color: #111111;
    color: #f4f4f4;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}