.customer-details-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer-details {
    background-color: #e5e1ff;
    width: 60%;
    padding: 50px;
    margin-top: 20px;
}

.details-header {
    display: flex;
    align-items: center;
}

.details-body {
    margin-top: 40px;
}

.details-body hr {
    border: 1px solid #212122;
    opacity: 0.3;
    margin-top: 10px;
    margin-bottom: 10px;
}

.details-header img {
    width: 90px;
    border-radius: 50%;
    margin-right: 20px;
}

.details-body a {
    text-decoration: none;
    color: white;
    background-color: #212122;
    padding: 8px 16px;
    font-weight: 700;
}

.details-customer-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.details-customer-row div {
    text-align: start;
}

.title-customer {
    font-weight: 600;
}

.details-customer-operations {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details-customer-operations .btn-user {
    margin-left: 10px;
}