.salest {
    background-color: #f4f4f4;
    padding-bottom: 80px;
}

.salest {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.salest img {
    width: 100%;
    height: 20vh;
}

.sale {
    margin-left: 20px;
    width: 48%;
    position: relative;
}

.sale-info {

    display: flex;

}

.sale-info div {
    position: absolute;
    top: 15%;
    left: 10%;
}

.sale-info h1 {
    font-size: 33px;
    font-weight: 200;
    letter-spacing: 2.475;
    line-height: 33px;
}

.sale-info .btn-black {
    position: absolute;
    right: 10%;
    top: 30%;
    padding: 15px 40px;
    background-color: #111111;
    color: #f4f4f4;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2.4px;
    cursor: pointer;
}

.sale-info .btn-white {
    position: absolute;
    right: 10%;
    top: 30%;
    padding: 15px 40px;
    background-color: #f4f4f4;
    color: #111111;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2.4px;
}

.sale-info p {
    font-size: 49px;
    font-weight: 700;
    letter-spacing: 0px;
}

.sale-info .flash {
    color: #f4f4f4;
}

.sale-info .flashh {
    color: #f4f4f4;
}


@media only screen and (max-width: 1000px) {

    .sale {
        width: 100%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 550px) {
    .salest {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .sale {
        margin-left: 0px;
        margin-top: 20px;
        width: 100%;
    }

    .sale button {
        padding: 6px !important;
    }

    .sale-info h1 {
        font-size: 20px;
    }

    .sale-info p {
        font-size: 20px;
    }
}